<form role="form">
				<div class="form-group">
					 
					<label for="exampleInputEmail1">
						Email address
					</label>
					<input type="email" class="form-control" id="exampleInputEmail1" />
				</div>
				<div class="form-group">
					 
					<label for="exampleInputPassword1">
						Message
					</label>
					<input type="text" class="form-control" id="exampleInputPassword1" />
				</div>
				<div class="form-group">
					 
					<label for="exampleInputFile">
						File input
					</label>
					<input type="file" id="exampleInputFile" />
					<p class="help-block">
						Attach your file if any
					</p>
				</div>
				<div class="checkbox">
					 
					<label>
						<input type="checkbox" ng-checked="subscribe" /> Subscribe RSS of this site
					</label>
				</div> 
				<button type="submit" class="btn btn-default">
					Submit
				</button>
			</form>